/*
@font-face {
  font-family: 'Hina2ndGrade';
  
  src: url('./font/omake/nukamiso__beta08.ttf') format('truetype');
  
  src: url('./font/hkgyokk.ttf') format('truetype');
}
*/


/*
 * 共通
 */

* {
	color: #ffffff;
	font: 14px/20px "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, Sans-Serif;
}

html {
	background: #f0ebda url(img/bg.jpg);
}

body {
}

#wrapper {
	top: 20px;
	width: 950px;
	margin: 0 auto 50px;
	padding: 0;
	/*background-color: #161616;*/
	background: url(img/wrapper_bg.png);
	border-radius: 10px;
	border: solid 5px #EFEFEF;
	position: relative;
	-moz-box-shadow: 5px 5px 35px #FFFFFF, -5px -5px 35px #FFFFFF;
	-webkit-box-shadow: 5px 5px 35px #FFFFFF, -5px -5px 35px #FFFFFF;
	box-shadow: 5px 5px 35px #FFFFFF, -5px -5px 35px #FFFFFF;
}

#topimg {
	margin: 0 auto;
	padding: 3px;
	background: #F9FDF5;
}

/*
#topimg p {
	font-family: 'Hina2ndGrade'
}
*/

header {
	height: 125px;
}

header a img {
	border: none;
	margin: 15px;
}

header nav {
	position: absolute;
	right: 0px;
	top: 20px;
}

header nav ul {
	height: 150px;
	list-style: none;}

header nav ul li {
	float: left;
	margin-right: 30px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

header nav ul li:hover {
	-webkit-transform: scale( 1.2 );
	-moz-transform: scale( 1.2 );
}

header nav ul li a {
	width: 80px;
	color: #ffffff;
	height: 80px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 800px;
	-moz-border-radius: 800px;
	-webkit-border-radius: 800px;
	font-weight: bold;
	text-decoration: none;
	background: #C0C0C0;
}

header nav ul li a:hover {
	background: #696969;
}

.tel_top {
	position: absolute;
	top: 80px;
	right: 580px;
}

.tel_top strong {
	color: #DC2C2F;
	font-size: 200%;
	position: relative;
	top: 4px;
	margin-left: 10px;
}

/*
.map_top {
	position: absolute;
	right: 20px;
	top: 11px;
}

.map_top a {
	display: block;
	color: #666666;
	text-decoration: none;
	background: #ECECEC url(img/map.png) no-repeat 0px 3px;
	padding: 10px 11px 9px 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	behavior: url(images/PIE.htc);
}
*/



#container {
	margin: 30px auto;
	padding 0;
}

#container h1 {
	margin: 30px auto 0px;
	padding: 0;
	text-align: center;
	font-size: 180%;
	font-weight: bold;
	font-family: 'HG正楷書体-PRO';
}

.clear {
	clear: both;
}

/*
header h1 {
    font-size: 36px; margin: 0px;
}

header h2 {
    font-size: 18px; margin: 0px; color: #888;
    font-style: italic;
}
*/

/*
nav div {
	margin: 10px;
}

nav div ul {
	list-style: none; padding: 0px;
	display: block;
	clear: right;
	padding-left: 4px;
	height: 24px;
}

nav div ul li {
	display: inline;
	padding: 0px 20px 5px 10px;
	height: 24px;
	border-right: 1px solid #ccc;
}

nav div ul li a {
	color: #EFD3D3;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

nav div ul li a:hover {
    color: #fff;
}
*/

footer {
	clear: both !important;
	text-align: center;
	margin: 50px 0 0;
	padding: 0;
	position: relative;
}

footer > div {
	border-top: solid 2px white;
}

footer div img {
	margin-top: 20px;
}

footer p {
	text-align: center;
	font-size: 12px;
	color: #ffffff; 
	margin: 0 0 15px 0;
}




/*
 * top画面
 */

.news {
	float: left;
	width: 350px;
	min-height: 224px;
	background: dimGray;
	margin: 30px 15px 50px;
	padding: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.news h1 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 140%;
	position: relative;
	border-bottom: 1px solid #D7CDB4;
	box-shadow: 0 1px 0 #f7f4ec;
	-webkit-box-shadow: 0 1px 0 #f7f4ec;
	-moz-box-shadow: 0 1px 0 #f7f4ec;
}

.news dl dt {
	float: left;
	width: 7em;
	padding: 5px 0;
}

.news dl dd {
	padding: 5px 0 5px 5px;
}

.takeout {
	float: left;
	width: 250px;
	min-height: 224px;
	background: dimGray;
	margin: 30px 0 50px;
	padding: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.takeout h1 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 140%;
	position: relative;
	border-bottom: 1px solid #D7CDB4;
	box-shadow: 0 1px 0 #f7f4ec;
	-webkit-box-shadow: 0 1px 0 #f7f4ec;
	-moz-box-shadow: 0 1px 0 #f7f4ec;
}

.futsal {
	float: left;
	width: 200px;
	min-height: 224px;
	background: dimGray;
	margin: 30px 15px 50px;
	padding: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.futsal h1 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 140%;
	position: relative;
	border-bottom: 1px solid #D7CDB4;
	box-shadow: 0 1px 0 #f7f4ec;
	-webkit-box-shadow: 0 1px 0 #f7f4ec;
	-moz-box-shadow: 0 1px 0 #f7f4ec;
}

.futsal h2 {
	font-size: 120%;
}

/*
 * menu画面
 */
#menu_navi {
	margin: 10px;
	width: 150px;
	float: left;
	height: 400px;
}

.meat {
	margin: 10px 0;
	width: 520px;
	float: left;
}

.rice {
	margin: 10px 0;
	width: 520px;
	float: left;
}

.drink {
	margin: 10px 0;
	width: 520px;
	float: left;
}

.dessert {
	margin: 10px 0;
	width: 520px;
	float: left;
}

.menu_img {
	margin: 10px;
	width: 240px;
	float: left;
}

#menu_navi .menuheader {
	color: #ffffff;
	background: #333333 url("img/ajax/ddaccordion/titlebar.png") repeat-x center left;
	margin: 0 0 10px 0;
	padding: 4px 0 4px 10px;
	text-transform: uppercase;
	cursor: hand,pointer;
	border-radius: 5px;
}

#menu_navi ul {
	list-style-type: none;
	margin: 0 0 8px 0;
	padding: 0;
}

#menu_navi ul li {
	padding-bottom: 2px;
	margin: 5px 0;
}

#menu_navi ul li a:visited {
	color: #ffffff;
}

#menu_navi ul li a {
	color: #ffffff;
	background: url("img/ajax/ddaccordion/arrowbullet.png") no-repeat center left;
	display: block;
	padding: 2px 0 2px 19px;
	border-bottom: 1px solid #DADADA;
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
}

.menu_navi {
	width: 180px;
	margin: 20px 0;
}

/*
.menu_navi .menuheader {
	color: #fff;
	background: black url("img/ajax/ddaccordion/titlebar.png") repeat-x center left;
	margin: 0 0 10px 0;
	padding: 4px 0 4px 10px;
	text-transform: uppercase;
	cursor: hand,pointer;
}
*/

.menu_navi .openheader {
	background-image: url("img/ajax/ddaccordion/titlebar-active.png");
}

.menu_navi ul {
	list-style-type: none;
	margin: 0 0 8px 0;
	padding: 0;
}

.menu_navi ul li {
	padding-bottom: 2px;
}

.menu_navi ul li a {
	color: #a70303;
	background: url("img/ajax/ddaccordion/arrowbullet.png") no-repeat center left;
	display: block;
	padding: 2px 0 2px 19px;
	border-bottom: 1px solid #dadada;
	text-decoration: none;
	font-weight: bold;
	font-size: 90%;
}

.menu_navi ul li a:visited {
	color: #a70303;
}

.menu_navi ul li a:hover {
	color: #a70303;
	background-color:#f3f3f3;
}

.categoryitems {
	display: none
}

.list_row {
	overflow: hidden;
	height: auto;
}

.list {
	width: 250px;
	margin: 5px;
	float: left;
}

.list h2 {
	font-size: 114%;
	font-weight: bold;
}

.list table {
	width: 250px;
}

.list td {
	border-bottom: 1px dashed #DDD;
	padding: 5px;
}

.list td span {
	font-size: 80%;
	color: #999;
}



