/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
/* background:#efefef url(css/img/grid.png) repeat center top; */
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:960px;/*960*/
background:#fff;
margin:10px auto 30px auto;
padding:0;
/* border:1px solid #ccc; */
}

.menu{
margin:-1px -1px 0 -1px;
}


#footer{
text-align:center;
padding:20px;
margin:0;
background:#efefef;
border-top:1px solid #ccc;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
}

#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

header[role="navigation"] {
	float: left;
	width: 120px;
	margin-bottom: 25px;
}

#content {
	float: right;
}

.menu.vertical {
	background: none;
	border: none;
}

.menu li.current > a, .menu li.current > a:hover, .menu li.current.hover > a {
	background: none;
	color: #000000;
}

.info_img {
	float: left;
	margin-right: 20px;
}

.info_text {
	float: left;
	width: 490px;
}

#featured {
	padding: 5px 10px;
}

#recent {
	padding: 5px 10px;
}

.tel {
	color: #ff6347;
}

#top-of-page > img {
	margin: 26px 0 0 150px;
	width: 40%;
}

.omoi {
	margin: 10px;
}

ul.tabs.left {
	text-align: left;
	width: 750px;
}

.tab-content {
	width: 750px;
}

.img-wrap.style3.menulist {
	margin: 3px;

}

.menu_detail {
	width: 366px;
	float: left;
	margin: 3px;
}

.menu_text {
	width: 360px;
	margin: 3px;
}

